@font-face{
    font-family:"krub-bold";
    src: url("./assets/Krub/Krub-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: none;
  }

@font-face{
font-family:"krub";
src: url("./assets/Krub/Krub-SemiBold.ttf") format("truetype");
font-style: normal;
font-weight: none;
}

@font-face{
    font-family:"krub-light";
    src: url("./assets/Krub/Krub-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: none;
 }

 @font-face{
    font-family:"krub-extralight";
    src: url("./assets/Krub/Krub-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: none;
 }
 @font-face{
   font-family:"krub-medium";
   src: url("./assets/Krub/Krub-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: none;
}
@font-face{
   font-family:"oswald-medium";
   src: url("./assets/Oswald/static/Oswald-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: none;
}