.header{
    background-color: #181818;
    font-family:"oswald-medium";
}
.signButton{
    background-color: #fff;
    height: 5vh;
    width: 13vh;
    font-size: 1rem;
    font-weight: bold;
}
.active{
   border-bottom: 2px solid var(--letter-color);
   padding-bottom: 1vh;
}