.header{
    background-color: #181818;
    font-family:"krub";
}
.signButton{
    background-color: #fff;
    height: 5vh;
    width: 13vh;
    font-size: 1rem;
    font-weight: bold;
}
.active{
    background-color: red;
}